.vscode/*
setting/management/__pycache__/*
db/db.sqlite3
static/*
task/utils/notification/__pycache__/*
setting/management/commands/__pycache__/*
setting/migrations/__pycache__/*
task/migrations/__pycache__/*
task/utils/__pycache__/*
task/utils/selector/__pycache__/*
*/__pycache__
.env
ghostdriver.log
