{% extends 'admin/master.html' %}            
{% block body %}
<p>点击<a href="/login">此处</a>登录，如果你是刚初始化项目，则账户名为admin，密码在日志文件中，请登录之后及时修改密码！</p>
<style  type="text/css">:root {
    --side-bar-bg-color: #fafafa;
    --control-text-color: #777;
}

@include-when-export url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext);

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Regular'),url('./static/400.woff') format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Open Sans Italic'),url('./static/400i.woff') format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans Bold'),url('./static/700.woff') format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: local('Open Sans Bold Italic'),url('./static/700i.woff') format('woff')
}

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

#write{
    max-width: 860px;
  	margin: 0 auto;
  	padding: 20px 30px 40px 30px;
	padding-top: 20px;
    padding-bottom: 100px;
}
#write > ul:first-child,
#write > ol:first-child{
    margin-top: 30px;
}

body > *:first-child {
    margin-top: 0 !important;
}
body > *:last-child {
    margin-bottom: 0 !important;
}
a {
    color: #4183C4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    /*background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;*/
    text-decoration: none;
}
h1 tt,
h1 code {
    font-size: inherit;
}
h2 tt,
h2 code {
    font-size: inherit;
}
h3 tt,
h3 code {
    font-size: inherit;
}
h4 tt,
h4 code {
    font-size: inherit;
}
h5 tt,
h5 code {
    font-size: inherit;
}
h6 tt,
h6 code {
    font-size: inherit;
}
h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}
h2 {
   padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}
h3 {
    font-size: 1.5em;
    line-height: 1.43;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
h6 {
   font-size: 1em;
    color: #777;
}
p,
blockquote,
ul,
ol,
dl,
table{
    margin: 0.8em 0;
}
li>ol,
li>ul {
    margin: 0 0;
}
hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}
body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}
body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}
body > h3:first-child,
body > h4:first-child,
body > h5:first-child,
body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}
a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}
h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
    margin-top: 0;
}
li p.first {
    display: inline-block;
}
ul,
ol {
    padding-left: 30px;
}
ul:first-child,
ol:first-child {
    margin-top: 0;
}
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}
blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
}
blockquote blockquote {
    padding-right: 0;
}
table {
    padding: 0;
    word-break: initial;
}
table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n),
thead {
    background-color: #f8f8f8;
}
table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #dfe2e5;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

.CodeMirror-lines {
    padding-left: 4px;
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0,28,36,.3);
    border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
    border: 1px solid #e7eaed;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
}

code {
    background-color: #f3f4f4;
    padding: 0 4px 2px 4px;
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0.2em 1em;
    padding-top: 8px;
    padding-bottom: 6px;
}


.md-task-list-item > input {
  margin-left: -1.3em;
}

@media screen and (min-width: 914px) {
    /*body {
        width: 854px;
        margin: 0 auto;
    }*/
}
@media print {
    html {
        font-size: 13px;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
}

.md-fences {
	background-color: #f8f8f8;
}
#write pre.md-meta-block {
	padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
	bottom: .375rem;
}

.md-mathjax-midline {
    background: #fafafa;
}

#write>h3.md-focus:before{
	left: -1.5625rem;
	top: .375rem;
}
#write>h4.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h5.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h6.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
.md-image>.md-meta {
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: #a7a7a7;
    opacity: 1;
}

.md-toc { 
    margin-top:20px;
    padding-bottom:20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

/** focus mode */
.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header, .context-menu, .megamenu-content, footer{
    font-family: "Segoe UI", "Arial", sans-serif;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state{
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: #fafafa;
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #E6F0FE;
}
</style><h1>I Am Watching You</h1>
<p>监测网页变化，完成诸如新文章发布，商品价格变动，新动态提醒任务，通过设置xpath或css selector选择器，完成网页关键信息的提取。监测到更新后，发送通知到邮件或者微信。</p>
<h2>特性</h2>
<ul>
<li>除支持常规requests网页请求外，还支持使用PhantomJS抓取异步加载的网页</li>
<li>支持xpath和css selector选择器</li>
<li>支持邮件和微信提醒（support by server酱）</li>
<li>简洁的UI，可视化操作</li>
</ul>
<h2>使用方式</h2>
<p>clone该项目，修改<code>.env</code>文件，指定DATABASE_URL值为你自己的数据库地址</p>
<h3>运行</h3>
<pre><code>pip install -r requirements.txt
python -m flask run
</code></pre>

<h3>登录系统</h3>
<p>首次初始化数据库，系统会自动新建用户，默认用户名为<code>admin</code>，密码随机生成，记录在log/log.txt中，登录之后可以在账号密码管理中修改。进入127.0.0.1/login，输入账号密码登录。<br>
登录之后显示如下栏目  </p>
<p><img alt="展示" src="https://github.com/LogicJake/WebMonitor/raw/master/fig/all.png"></p>
<h3>设置通知方式</h3>
<p>在通知方式管理中默认存在两种通知方式：邮件和Server酱的微信提醒。邮件提醒只需要设置接收邮箱，微信提醒需要申请SCKEY，自行搜索Server酱注册，简单免费。  </p>
<p><img alt="通知方式" src="https://github.com/LogicJake/WebMonitor/raw/master/fig/noti.png"></p>
<h3>设置系统邮箱</h3>
<p>如果采用邮件提醒，则必须设置系统邮箱设置，该邮箱为提醒邮件的发信人。自行根据需要使用的邮箱查找相关设置，密码一般指授权码。  </p>
<p><img alt="系统邮件设置" src="https://github.com/LogicJake/WebMonitor/raw/master/fig/mail_setting.png"></p>
<h3>添加任务</h3>
<p>在任务管理模块添加新任务  </p>
<p><img alt="任务管理" src="https://github.com/LogicJake/WebMonitor/raw/master/fig/task_manage.png"><br>
<img alt="添加任务" src="https://github.com/LogicJake/WebMonitor/raw/master/fig/task_setting.png">
* 必须选择一种通知方式
* 默认抓取频率为5分钟，自行根据需要调整，单位分钟，不建议调太快，以防反爬</p>
<h4>选择器</h4>
<p>元素选择器类型可以选择xpath或css selector，可以借助浏览器F12直接copy两种选择器，需要注意的是，往往浏览器copy得到是元素，而不是文本信息，需要做以下补充：  </p>
<h5>xpath</h5>
<ul>
<li>获取元素文本信息，在浏览器得到的选择器后加<code>/text()</code>，如<br>
<code>//*[@id="id3"]/h3</code> =&gt; <code>//*[@id="id3"]/h3/text()</code></li>
<li>获取元素属性信息，在浏览器得到的选择器后加<code>/@属性名</code>，如想获取元素href值<br>
<code>//*[@id="id3"]/h3</code> =&gt; <code>//*[@id="id3"]/h3/@href</code></li>
</ul>
<h5>css selector</h5>
<ul>
<li>获取元素文本信息，在浏览器得到的选择器后加<code>/::text</code>，如<br>
<code>div#id3 &gt; h3</code> =&gt; <code>div#id3 &gt; h3/::text</code></li>
<li>获取元素属性信息，在浏览器得到的选择器后加<code>/::attr(属性名)</code>，如想获取元素href值<br>
<code>div#id3 &gt; h3</code> =&gt; <code>div#id3 &gt; h3/::attr(href)</code></li>
</ul>
<h4>是否选择无头浏览器</h4>
<p>如果源网页没有异步加载，可以不使用无头浏览器获取网页</p>
<pre><code>建议先选择不使用，假如提交时提示获取不到文本信息，再使用无头浏览器尝试
</code></pre>

<h4>正则进一步提取</h4>
<p>如果获取到的文本信息有冗余，可以采用正则进一步筛选，如<br>
<code>价格：1390</code>使用正则<code>([1-9]\d*)</code>提取到纯数字1390</p>
<h4>监控规则</h4>
<p>目前监控规则没有完善，默认不填即可，只要文本发生变化就通知，待日后完善完成更多复杂规则监控，如数字减少或增多</p>
<h4>自定义请求头</h4>
<p>可以自定义请求时的请求头，主要用于设置Cookie，获取需要登录才能查看的页面，格式为字典，如<br>
<code>{'Cookie':'自定义cookie值'}</code></p>
<h3>任务状态查看</h3>
<p>可以在任务状态栏目下查看所有任务，包括任务状态（run or stop），上次运行时间，上次运行结果，运行结果包括三类：  </p>
<ul>
<li>监测到变化，最新值：{最新值}  </li>
<li>成功执行但未监测到变化  </li>
<li>出错显示异常信息  </li>
</ul>
<p><img alt="任务状态" src="https://github.com/LogicJake/WebMonitor/raw/master/fig/status.png"><br>
可以通过修改任务状态，暂停或重启任务  </p>
<p><img alt="状态设置" src="https://github.com/LogicJake/WebMonitor/raw/master/fig/status_setting.png"></p>
<h3>todo</h3>
<ul>
<li>[x] 添加cookie设置，获取需要登录才能访问的页面  </li>
<li>[ ] 单独设一个页面，测试选择器和正则</li>
</ul>
{% endblock %}