{% extends 'admin/master.html' %}
{% block body %}
<link href="../../static/css/github.css" rel="stylesheet" type="text/css" />
<h1>I Am Watching You</h1>
<h2>特性</h2>
<ul>
    <li>支持requests请求网页，支持使用PhantomJS抓取异步加载的网页</li>
    <li>支持xpath和css selector选择器</li>
    <li>支持邮件和微信提醒（support by server酱）</li>
    <li>简洁的UI，可视化操作</li>
    <li>支持自定义请求头，抓取需要登录的网页</li>
    <li>支持设置监控规则</li>
    <li>监控RSS更新</li>
</ul>
<h2>使用指南</h2>
<a target="_blank" href="https://www.logicjake.xyz/WebMonitor">请点击这里</a>
{% endblock %}